<div class="container text-center">
    <h3>What We Do</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <img src="../../assets/1.jpg" class="img-responsive" style="width:100%" alt="Image">
            <p>Current Project</p>
        </div>
        <div class="col-sm-4">
            <img src="../../assets/2.jpg" class="img-responsive" style="width:100%" alt="Image">
            <p>Project 2</p>
        </div>
        <div class="col-sm-4">
            <img src="../../assets/3.jpg" class="img-responsive" style="width:100%" alt="Image">
            <p>Project 2</p>
        </div>
    </div>
</div>
<div class="container text-center">
        <h3>What We Do</h3><br>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ul>
                    <li *ngFor="let f of fruits">{{  f }}</li>
                </ul>
                <span *ngIf="flag">Rayan & sharaf</span>
            </div>
        </div>
    </div>
    