<div class="container">
    <div class="col-md-12">
        <h1 class="text-center alert-danger">login Form</h1>
        <form  class="form-group">
         
          
          <input type="text" class="form-control" placeholder="Enter Your Email"   name="email"  required email>
          
          <input type="password" class="form-control" placeholder="Enter Your password"  name="pass"  required>
        
          
          <button type="submit" class="btn btn-danger btn-block">Submit</button>
        </form>
    </div>
</div>